.App {
  text-align: center;
}
.normal {
  background-color: #c2dde6 !important;
}

.done {
  background-color: lightgreen !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.max-height{
  height: 100% !important;

}
#root {
  height: 100%;
}

html {
  height: 100%;
  min-width: 975px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.react-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 708;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.inner-modal {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 700px;
  height: 600px;
  z-index: 709;
  background-color: white;
  border-radius: 4px;
  overflow: auto;
  padding: 20px;
}
/* .close {
  position: fixed;
  top: 10px;
  right: 30px;
  font-size: 58px !important;
  font-weight: bold !important ;
  color: white !important;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */



.list-pop {
  position: absolute !important;
  margin-top: 70px !important;
  z-index: 700 !important;
  width: 10%;
}

.pop {
  z-index: 700;
}
.pop:hover {
  cursor: pointer;
}

.home-screen {
  height: 100%;
  background: url(../images/new_cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.random-class{
  float: right;
}

.sender{
  /* float: left; */
  color: white;
  background-color: #77dd77 ;
  clear: both;
  word-wrap: break-word;
}

.receiver{
  float: right;
  color: white;
  background-color: gray;
  clear: both;
  word-wrap: break-word;
}

.w-15{
  width: 15%;
  word-wrap: break-word !important ;
}
.max-video{
  height: 300px !important;
}

.bottom-input{
  position: absolute;
  bottom: 0;
}

.call-btn{
  position: absolute;
  top: 20px;
  right: 20px;
}

.clickable:hover{
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  padding: 5px;
}

.messaging-header{
  left: 40%;
  top: 10px;
}

.video-container{
  background-color: #000;
  position: absolute;
  height: 60%;
  width: 60%;
  top: 10%;
  right: 20%;
  border-radius: 6px;
  border: 4px solid #65CCA9;
  min-width: 500px;
  min-height: 500px;
  z-index: 200;
}

.outer-video{
  height: 100%;
  width: 100%;
 
}

.inner-video{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 30%;
  height: 30%;
  border-radius: 4px;
  border: 4px solid #65CCA9;
}

.video-close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}

.ringer{
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20%;
  height: 20%;
  padding: 30px;
  z-index: 100;
  min-height: 300px;
  min-width: 300px;
  background-color: aliceblue;
}

.ringer > div{
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.splash-screen{
  height: 70%;
  width: 100%;
}
.notifications{
  font-size: 11px
}
.notifications > span:hover{
  cursor: pointer;
  text-decoration: underline;
}

.home-link:hover{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
